{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

<div class="flex-full-box">
    <div class="grid">
        <div class="button"><a href="https://www.dropbox.com/sh/0gjlfwij54s8a3e/AAA6Q2f4bkoXrimylOdSAm57a?dl=1">Five night's at Robert Corp</a></div>
        <div class="button"><a href="https://www.dropbox.com/scl/fo/sph652ryyo9qp5bwk6ta6/h?rlkey=b43637lfwljeihq801jhq3d90&dl=1">Shooter 2</a></div>
        <div class="button"><a href="https://www.dropbox.com/sh/apysk0gekmvmp6s/AAASCYtvo9etOf6UTap16LjUa?dl=1">Golf boom boom</a></div>
    </div>
</div>
{% endblock %}