{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<div class="flex-full-box columns">
    <h1 id="clicker-count">0</h1>
    <button id="clicker-button" class="button"><h2>Click Me</h2></button>
</div>

<div class="flex-list rows">
    <div>
        <h1 id="upgrade-1-c">0</h1>
        <button id="upgrade-1" class="button"><h2>Upgrade 1 - 50</h2></button>
    </div>

    <div>
        <h1 id="upgrade-2-c">0</h1>
        <button id="upgrade-2" class="button"><h2>Upgrade 2 - 50</h2></button>
    </div>

    <div>
        <h1 id="upgrade-3-c">0</h1>
        <button id="upgrade-3" class="button"><h2>Upgrade 3 - 50</h2></button>
    </div>

    <div>
        <h1 id="upgrade-4-c">0</h1>
        <button id="upgrade-4" class="button"><h2>Upgrade 4 - 50</h2></button>
    </div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='game.js')}}"></script>
{% endblock %}